In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('data/ParisHousing.csv') #loads data

In [3]:
pd.set_option('display.precision', 2) #formatting for printed output
#remove binary features from summary
df.drop(columns = ['hasYard', 'hasPool', 'isNewBuilt', 'hasStormProtector',
                   'hasStorageRoom', 'hasGuestRoom']).describe().T

,count,mean,std,min,25%,50%,75%,max
squareMeters,10000.0,4.99e+04,2.88e+04,89.0,2.51e+04,5.01e+04,7.46e+04,1.00e+05
numberOfRooms,10000.0,5.04e+01,2.88e+01,1.0,2.50e+01,5.00e+01,7.50e+01,1.00e+02
floors,10000.0,5.03e+01,2.89e+01,1.0,2.50e+01,5.00e+01,7.60e+01,1.00e+02
cityCode,10000.0,5.02e+04,2.90e+04,3.0,2.47e+04,5.07e+04,7.57e+04,1.00e+05
cityPartRange,10000.0,5.51e+00,2.87e+00,1.0,3.00e+00,5.00e+00,8.00e+00,1.00e+01
numPrevOwners,10000.0,5.52e+00,2.86e+00,1.0,3.00e+00,5.00e+00,8.00e+00,1.00e+01
made,10000.0,2.01e+03,9.31e+00,1990.0,2.00e+03,2.01e+03,2.01e+03,2.02e+03
basement,10000.0,5.03e+03,2.88e+03,0.0,2.56e+03,5.09e+03,7.51e+03,1.00e+04
attic,10000.0,5.03e+03,2.89e+03,1.0,2.51e+03,5.04e+03,7.54e+03,1.00e+04
garage,10000.0,5.53e+02,2.62e+02,100.0,3.28e+02,5.54e+02,7.77e+02,1.00e+03
price,10000.0,4.99e+06,2.88e+06,10313.5,2.52e+06,5.02e+06,7.47e+06,1.00e+07

Classification on cityPartRange (1-10 value representing the desirability of a neighborhood)

In [4]:
X = df.drop(columns='cityPartRange')
y = df.cityPartRange
# split 80% training data, 20% "_tmp" for validation & test
X_train, X_tmp, y_train, y_tmp = train_test_split(X, y, test_size=.2,
                                                  random_state=0, stratify=y)
# of remaining 20%, split in half to get 10% validation, 10% test
X_valid, X_test, y_valid, y_test = train_test_split(X_tmp, y_tmp, test_size=.5,
  random_state=0, stratify=y_tmp)

Regression on price

In [5]:
X = df.drop(columns='price')
y = df.price
# split 80% training data, 20% "_tmp" for validation & test
X_train, X_tmp, y_train, y_tmp = train_test_split(X, y, test_size=.2,
                                                  random_state=0)
# of remaining 20%, split in half to get 10% validation, 10% test
X_valid, X_test, y_valid, y_test = train_test_split(X_tmp, y_tmp, test_size=.5,
  random_state=0)